body {
  background-color: royalblue;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

#titulo {
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#puntos {
  color: greenyellow;
  margin-left: 52px;
  margin-bottom: 10px;
}

#contenedorJuego {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenedorNintendo {
  width: 94%;
  display: flex;
  flex-direction: column;
}

#juegoOverlay {
  position: relative;
}

#juegoCanvas {
  position: absolute;
  left: 16.9%;
  top: 5.19%;
  width: 73.8%;
  background-color: #99c728;
}

#nintendo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #contenedorNintendo {
    width: 50%;
  }

  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  #contenedorNintendo {
    width: 50%;
  }

  body {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  #contenedorNintendo {
    width: 35%;
  }

  body {
    font-size: 24px;
  }
}
